.DS_Store
.dart_tool/

# Files and directories created by pub
.packages
.pub/
build/

.flutter-plugins

.atom/
.idea

ios/.generated/

# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

assets/private-settings.json
android/app/src/main/AndroidManifest.xml

.flutter-plugins
android/app/src/main/gen/

android/app/google-services.json
android/app/key.jks
android/key.properties

assets/private-settings.json
assets/private-settings-dev.json
